.details{
  margin-top: 45px;
  margin: 100 auto;
  width: 350px;
  overflow: auto;
}

.temp{
  margin-top: 50px;
  /* margin-right: 120px; */
  position: relative;
  padding-left: 310px;
  display: flex;
}

.main_text{
  text-align: center;
  margin-top: 50px;
}

.image{
  display: flex;
  float: left;
}

.hom{
  margin-right: 15px;
}

.home{
  overflow: auto;
}

.btn{
  margin: auto;
  display: block;
}


.footer{
  /* margin-top: 1rem; */
  padding: 1rem;
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
}